.incluiContainer {
  border-radius: 5px;
  background-color: #cccccc;
  padding: 10px;
}
.tituloListagem {
  margin-left: 20px;
}

.listaCulturas {
  margin-left: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cabecTabela {
  color: black;
  background-color: rgb(216, 211, 144);
  font-size: 20px;
  text-align: left;
}

.pad10 {
  padding: 10px;
}

.tabTituloCultura {
  width: 200px;
}

.tabTituloCultura {
  width: 150px;
}

.tabTituloId {
  width: 150px;
}

.tabTituloSensor {
  width: 150px;
}

.tabTituloNome {
  width: 300px;
}

.inputText {
  display: inline-block;
  width: 20%;
  padding: 12px;
  margin: 8px 0;
}

.inputNumber {
  padding: 12px;
  width: 50px;
}
.labelForm {
  padding: 10px;
}

.tituloCadastro {
  margin-left: 30px;
}

.btnSalvar {
  background-color: lightblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 30px;
}

.btnCancelar {
  background-color: lightblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.btnEditar {
  background-color: lightblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 30px;

}.btnRemover {
  background-color: lightblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 30px;
}

.btnTemperatura {
  background-color: lightblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 30px;
}

.btnVoltar {
  background-color: lightblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 30px;
}

.tabCulturas {
  margin-top: 10px;
}

.verde {
  color: green;
}

.vermelho {
  color: red;
}

.H3 {
  font-size: large;
}
